<table border="1" style="width:100%">
  <caption>Events</caption>
  <thead>
    <tr>
      <th></th>
      <% @tracks.each do |track| %>
        <th><%= track %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @starts.each do |start| %>
      <tr>
        <th><%= start.strftime("%m/%d/%Y %H:%M") %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<% @events.each do |event| %>
  <%= event.name %><br>
<% end %>
